.stepper__container{
    display: flex;
    width: 
    794px;
    margin: auto;
    justify-content: space-around;
    
    padding: 20px;
}
.stepper{
    display: flex;
    gap: 5px;
    padding-left: 10px; 
}
.greycolorValue{
    background-color: transparent;
    color: black;
    font-size: 12px;
    display: flex;
    align-items: center;
}

.redValue{
    color: blue;
}

/* .stepper span {
    background-color: blue;
    border-radius: 50%;
    color: white;
    width: 24px;
    height: 24px;
    text-align: center;
} */
.greycolor{
    background-color: rgb(86, 86, 95);
    border-radius: 50%;
    color: white;
    width: 24px;
    height: 24px;
    text-align:center;
}
.red{
    background-color: rgb(51, 0, 255) !important;

}
